---
import DisciplinesItem from "../components/DisciplinesItem.astro"
import SkipLink from "../components/SkipLink.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
import Button from "../components/Button.astro";
const title = "Home"
---

<BaseLayout title={title}>
  <section class="solutions | l-wrapper l-region">
    <div class="solutions__content | l-flow l-center" data-center="child-elements">
      <h1>Design solutions made easy</h1>
      <p>With over ten years of experience in various design disciplines, I’m your one-stop shop for your design needs.</p>
    </div>

    <div class="solutions__disciplines">
      <h2 class="u-vh">Design disciplines</h2>
      <ul role="list" class="l-columns | u-position--relative">
          <!-- <SkipLink targetId="about" /> -->
          <DisciplinesItem title="Graphic Design" />
          <DisciplinesItem title="UI/UX" />
          <DisciplinesItem title="Apps" />
          <DisciplinesItem title="Illustrations" />
          <DisciplinesItem title="Photography" />
          <DisciplinesItem title="Motion Graphics" />
      </ul>
    </div>
  </section>

  <section id="about" class="about | l-wrapper l-region l-switcher">
    <div class="about__photo">
        <img src="images/image-amy.webp" alt="Portrait of Amy, smiling">
    </div>
    <div class="about__content | l-flow">
        <h2>I’m Amy, and I’d love to work on your next project</h2>
        <p>I love working with others to create beautiful design solutions. I’ve designed everything from brand illustrations to complete mobile apps. I’m also handy with a camera!</p>
        <Button label="free consultation" variant="secondary" />
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  @import '../styles/20-mixins/media-query.scss';

  .solutions {
    --space-region: var(--space-region-s);

    &__disciplines {
      --space-skip-link-inline: var(--space-gutter-s);
      padding-block-start: var(--space-region-s);
      
      .l-columns {
        --columns: 6; 
        --space-columns: var(--space-gutter-s); 

        @include media-query(up-to, desktop) {
            --columns: 4; 
        }

        @include media-query(up-to, tablet) {
            --columns: 2; 
        }
      }
    }
  }

  .about {
    --space-region: var(--space-region-s) var(--space-gutter-m);
    --switcher-vertical-alignment: center;
    --switcher-item-target-width: 0.001rem;
    --space-switcher: var(--space-gutter-s);
    --space-flow: 1.5em;

    &__photo {
      img {
          padding-inline-end: var(--space-m-2xl);
      }
    }
      
    // @include media-query(up-to, desktop) {
      // --space-wrapper: 0px var(--space-gutter);
      
    //   &__photo {
    //     padding-inline-end: calc(var(--space-gutter) * 2);
    //     margin-inline-start: calc(var(--space-gutter) * -1);

    //     img {
    //         padding-inline-end: calc(var(--space-m-2xl) - calc(var(--space-gutter) * 2));
    //     }
    //   }
    // }
      
    // @include media-query(up-to, tablet) {
    //   --switcher-item-target-width: 999rem;
    //   // --space-wrapper: var(--space-gutter) var(--space-gutter);
    //   // padding-inline: var(--space-gutter) var(--space-gutter);
    //   text-align: center;
      
    //   &__photo {
    //     // padding-inline-end: 0px;
    //     // margin-inline-start: 0px;
        
    //     img {
    //         // padding-inline-end: 0px;
    //     }
    //   }
    // }
  }
</style>