---
import BaseLayout from "../layouts/BaseLayout.astro"
import Disciplines from "../components/Disciplines.astro";
import Button from "../components/Button.astro";
import Slider from "../components/Slider.astro";
const title = "Home"
---

<BaseLayout title={title}>
  <section class="solutions | l-wrapper l-region">
    <div class="solutions__content | l-flow l-center" data-center="child-elements">
      <h1>Design solutions made easy</h1>
      <p>With over ten years of experience in various design disciplines, I’m your one-stop shop for your design needs.</p>
    </div>

    <div class="solutions__disciplines">
      <h2 class="u-vh">Design disciplines</h2>
      <Disciplines items={[
        { title: "Graphic Design" },
        { title: "UI/UX" },
        { title: "Apps" },
        { title: "Illustrations" },
        { title: "Photography" },
        { title: "Motion Graphics" }
      ]} />
    </div>
  </section>

  <section id="about" class="about | l-wrapper l-region l-switcher">
    <div class="about__photo">
        <img src="images/image-amy.webp" alt="Portrait of Amy, smiling">
    </div>
    <div class="about__content | l-flow">
        <h2>I’m Amy, and I’d love to work on your next project</h2>
        <p>I love working with others to create beautiful design solutions. I’ve designed everything from brand illustrations to complete mobile apps. I’m also handy with a camera!</p>
        <Button label="free consultation" variant="secondary" />
    </div>
  </section>

  <section class="work | l-canvas l-region">
    <h2>My Work</h2>
    <Slider items={[
      { src: "image-slide-1.jpg", alt: "Image 1" },
      { src: "image-slide-2.jpg", alt: "Image 2" },
      { src: "image-slide-3.jpg", alt: "Image 3" },
      { src: "image-slide-4.jpg", alt: "Image 4" },
      { src: "image-slide-5.jpg", alt: "Image 5" },
    ]} />
  </section>

  <section id="contact" class="contact">
    <div class="l-wrapper l-region">
      <div class="contact__content | l-box">
        <div class="l-flow">
          <h2>Book a call with me</h2>
          <p>I’d love to have a chat to see how I can help you. The best first step is for us to discuss your project during a free consultation. Then we can move forward from there.</p>
        </div>
        <div>
          <Button label="free consulation" variant="secondary" />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  @import '../styles/20-mixins/media-query.scss';

  .solutions {
    --space-region: var(--space-region-s);
    --space-skip-link-max-inline: calc(100vw - 4 * var(--space-gutter));

    &__content {
      max-inline-size: unset;
    }

    &__disciplines {
      --space-skip-link-inline: var(--space-gutter-s);
      padding-block-start: var(--space-region-s);
    }
  }

  .about {
    --space-region: var(--space-region-s) var(--space-gutter-m);
    --switcher-vertical-alignment: center;
    --switcher-item-target-width: 0.001rem;
    --space-switcher: var(--space-gutter-s);
    --space-flow: 1.5em;

    &__photo {
      img {
          padding-inline-end: var(--space-m-2xl);
      }
    }
      
    @include media-query(up-to, desktop) {
      --space-wrapper: 0px var(--space-gutter);
      
      &__photo {
        padding-inline-end: calc(var(--space-gutter) * 2);
        margin-inline-start: calc(var(--space-gutter) * -1);

        img {
            padding-inline-end: calc(var(--space-m-2xl) - calc(var(--space-gutter) * 2));
        }
      }
    }
      
    @include media-query(up-to, tablet) {
      --switcher-item-target-width: 30rem;
      --space-wrapper: var(--space-gutter);
      text-align: center;
      
      &__photo {
        padding-inline-end: 0px;
        margin-inline-start: 0px;
        
        img {
            padding-inline-end: 0px;
        }
      }
    }
  }

  .work {
    --space-region: var(--space-gutter-m);
    text-align: center;
  }

  .contact {
    --space-region: var(--space-region-l);

    &__content {
      --measure: 55ch;
      background-color: var(--color-black);
      display: grid;
      grid-template-columns: 2fr 1fr;
      padding-block: var(--space-region-s);
      
      h2 {
        color: var(--color-light-cream);
      }

      & > div:first-of-type {
        display: grid;
        padding-inline-end: var(--space-gutter-l);
      }
      
      & > div:last-of-type {
        display: grid;
        place-items: center;
      }

      @include media-query(up-to, desktop) {
        grid-template-columns: 1fr;
        gap: 1.5em;
        text-align: center;
        
        & > div:first-of-type {
          padding-inline-end: 0px;
        }
      }
    }

    .l-canvas {
      & > div:first-of-type {
        --measure: 52ch;
        grid-column: content-start / span 2;
        margin-inline-end: calc(var(--space-gutter-s) / 2);
      }

      & > div:last-of-type {
        grid-column: 4 / span 1;
        margin-inline-start: calc(var(--space-gutter-s) / 2);
        text-align: center;
        margin-block: auto;
      }
    }
  }
</style>