---
import DisciplinesItem from "../components/DisciplinesItem.astro"
import SkipLink from "../components/SkipLink.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
import Button from "../components/Button.astro";
import Slider from "../components/Slider.astro";
const title = "Home"
---

<BaseLayout title={title}>
  <section class="solutions | l-wrapper l-region">
    <div class="solutions__content | l-flow l-center" data-center="child-elements">
      <h1>Design solutions made easy</h1>
      <p>With over ten years of experience in various design disciplines, I’m your one-stop shop for your design needs.</p>
    </div>

    <div class="solutions__disciplines">
      <h2 class="u-vh">Design disciplines</h2>
      <ul role="list" class="l-columns | u-position--relative">
          <SkipLink targetId="about" />
          <DisciplinesItem title="Graphic Design" />
          <DisciplinesItem title="UI/UX" />
          <DisciplinesItem title="Apps" />
          <DisciplinesItem title="Illustrations" />
          <DisciplinesItem title="Photography" />
          <DisciplinesItem title="Motion Graphics" />
      </ul>
    </div>
  </section>

  <section id="about" class="about | l-wrapper l-region l-switcher">
    <div class="about__photo">
        <img src="images/image-amy.webp" alt="Portrait of Amy, smiling">
    </div>
    <div class="about__content | l-flow">
        <h2>I’m Amy, and I’d love to work on your next project</h2>
        <p>I love working with others to create beautiful design solutions. I’ve designed everything from brand illustrations to complete mobile apps. I’m also handy with a camera!</p>
        <Button label="free consultation" variant="secondary" />
    </div>
  </section>

  <section class="work | l-canvas l-region">
    <h2>My Work</h2>
    <Slider images={[
      { src: "image-slide-1.jpg", alt: "Image 1" },
      { src: "image-slide-2.jpg", alt: "Image 2" },
      { src: "image-slide-3.jpg", alt: "Image 3" },
      { src: "image-slide-4.jpg", alt: "Image 4" },
      { src: "image-slide-5.jpg", alt: "Image 5" },
    ]} />
  </section>

  <section id="book">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi sit incidunt, eius nesciunt dolore delectus a corrupti id laborum. Veniam porro illum iste, laudantium non sed ducimus accusamus debitis voluptas mollitia fuga, odio asperiores libero pariatur voluptatem nostrum praesentium, vero beatae laborum tempora odit quis. Quasi reprehenderit accusamus doloremque delectus dolores repellat? Maxime incidunt at consequuntur, earum, vel ullam obcaecati perferendis autem perspiciatis harum animi aspernatur cupiditate reprehenderit vitae soluta minus, quaerat cum pariatur iure reiciendis dolore hic! Eaque sit quod dolorum veniam. Voluptatibus nam perferendis perspiciatis recusandae molestiae provident blanditiis asperiores quasi quod. Quidem, similique doloremque! Tenetur ipsa, adipisci unde sequi reiciendis architecto voluptate nesciunt velit id explicabo impedit distinctio. Adipisci, reiciendis nemo delectus soluta et maiores quia ullam quo ipsam rem labore ipsa molestiae aliquid nostrum eveniet temporibus ex suscipit sint. Quasi, accusamus fuga. Illum iure sint repellendus. Ratione atque autem a sapiente necessitatibus repellat iure minima eum, totam, sunt adipisci. Modi illo sapiente maiores sequi unde aliquam, nisi, laboriosam atque similique neque in necessitatibus molestias. Expedita mollitia explicabo dolore fugiat tenetur eius aut sapiente, esse, quaerat velit molestiae. Voluptatem sunt sint, delectus accusantium voluptatum eius consequatur eos itaque nam optio nulla error eligendi laboriosam minus vel quam!</p>
  </section>
</BaseLayout>

<style lang="scss">
  @import '../styles/20-mixins/media-query.scss';

  .solutions {
    --space-region: var(--space-region-s);
    --space-skip-link-max-inline: calc(100vw - 4 * var(--space-gutter));

    &__content {
      max-inline-size: unset;
    }

    &__disciplines {
      --space-skip-link-inline: var(--space-gutter-s);
      padding-block-start: var(--space-region-s);
      
      .l-columns {
        --columns: 6; 
        --space-columns: var(--space-gutter-s); 

        @include media-query(up-to, desktop) {
            --columns: 4; 
        }

        @include media-query(up-to, tablet) {
            --columns: 2; 
        }
      }
    }
  }

  .about {
    --space-region: var(--space-region-s) var(--space-gutter-m);
    --switcher-vertical-alignment: center;
    --switcher-item-target-width: 0.001rem;
    --space-switcher: var(--space-gutter-s);
    --space-flow: 1.5em;

    &__photo {
      img {
          padding-inline-end: var(--space-m-2xl);
      }
    }
      
    @include media-query(up-to, desktop) {
      --space-wrapper: 0px var(--space-gutter);
      
      &__photo {
        padding-inline-end: calc(var(--space-gutter) * 2);
        margin-inline-start: calc(var(--space-gutter) * -1);

        img {
            padding-inline-end: calc(var(--space-m-2xl) - calc(var(--space-gutter) * 2));
        }
      }
    }
      
    @include media-query(up-to, tablet) {
      --switcher-item-target-width: 30rem;
      --space-wrapper: var(--space-gutter);
      text-align: center;
      
      &__photo {
        padding-inline-end: 0px;
        margin-inline-start: 0px;
        
        img {
            padding-inline-end: 0px;
        }
      }
    }
  }

  .work {
    --space-region: var(--space-gutter-m);
    text-align: center;
  }
</style>