---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import "../styles/core.scss";
const { title } = Astro.props;
---

<head>
  <!-- Encoding & Viewport -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Title & Description -->
  <title>{ title }</title>
  <meta 
    name="description" 
    content="Discover Amy's design portfolio, showcasing over ten years of experience in Graphic Design, UI/UX, Apps, Photography, Illustrations, and Motion Graphics. Book a free consultation today to bring your project to life."
  >

  <!-- Base URL -->
  <!-- <base href="https://nicholasgillespie.github.io/portfolio-design/" /> -->
  <base href="/portfolio-design/" />

  <!-- Canonical link -->
  <link
    rel="canonical"
    href="https://nicholasgillespie.github.io/portfolio-design/"
  />

  <!-- Favicon and Theme Color -->
  <link rel="icon" type="image/svg+xml" href="images/logo.svg" />
  <meta name="theme-color" content="#755cde" />

  <!-- Google Fonts -->

  <!-- Astro Generator Meta Tag -->
  <meta name="generator" content={Astro.generator} />

  <!-- View Transitions -->
  <ViewTransitions />
</head>