---

---

<a href="/">
  <img class="site-logo" src="/images/logo.svg" alt="" draggable="false"/>
  <span class="u-vh">Go to Portfolio Design homepage</span>
</a>

<style lang="scss">
  .site-logo {
    block-size: var(--space-xl);
  }
</style>