---
const { targetId } = Astro.props;
---

<a href={`#${targetId}`} id="skip-link" class="button">{`Skip to ${targetId}`}</a>

<style lang="scss">
  #skip-link {
  // Position the skip link off-screen
  position: absolute;
  inset-block-start: -100vh;
  
  // When focused, bring the skip link back into view
  &:focus-visible {
    inset-block-start: var(--space-skip-link-block, var(--space-gutter-s));
    inset-inline-start: var(--space-skip-link-inline, var(--space-gutter));
    mix-blend-mode: difference;
  }

  // Style the skip link
  inline-size: max-content;
  max-inline-size: var(--space-skip-link-max-inline, calc(100vw - 2 * var(--space-gutter)));
  z-index: 999;
}
</style>